.brandColor{
    color: goldenrod;
}

.brandBg{
    background-color: goldenrod;
}

.brandBtn{
    color: goldenrod;
    border: 1px solid goldenrod;
}

.brandBtn:hover{
    color: white;
    background-color: goldenrod;
}